/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: #f5f8fb;
  color: #333;
  line-height: 1.6;
}
 /*header*/
.header{
  background-color: #8458B3;
  color: white;
  padding: 10px;
}
.header .header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.header-container button{
  padding: 10px;
  width: 80px;
  height: 50px;
  background-color: white;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 12.5px;
  color: #8458B3;
}
/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

/* Welcome section */
.welcome {
  margin-bottom: 2rem;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Card */
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
  
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.card button {
  background: #8458B3;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
}

.card button:hover {
  transition: 0.5s;
  background: #004199;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background: #eaeaea;
  font-size: 0.9rem;
  color: #666;
  margin-top: 4rem;
}
